/*----------------------------- 
ESTILOS GENERALES
-------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  text-align: center;
  background-color: whitesmoke;
}

.top-line {
  background-color: gainsboro;
  padding: 0.5em;
  margin-bottom: auto;
}

.footer {
  margin-top: auto;
  padding: 3%;
  color: whitesmoke;
  vertical-align: bottom;
  background-color: black;
}
.m-1 {
  margin: 0.3em;
}

.link-footer {
  text-decoration: none;
  color: red;
}

.white-space {
  height: auto;
  min-height: 4.5em;
}

.bg--royalBlue {
  background-color: rgb(24, 58, 150);
}

.page-holder {
  overflow-x: hidden;
  min-height: calc(100vh - 72px);
}
/*----------------------------- 
ESTILOS DE LOS FORMULARIOS
-------------------------------*/
.form-rt {
  padding: 10%;
}

.input-rt {
  margin: 0.5em;
  border-radius: 3px;
  outline: none;
}

.line {
  border: 0.4px solid gainsboro;
}

.input-xl-rt {
  padding: 0.3em;
}

/*----------------------------- 
ESTILOS DE LOS BOTONES
-------------------------------*/
.btn-link {
  padding: 0.2em;
  border: 0.5px solid;
  background-color: rgb(34, 144, 247);
}
/*----------------------------- 
ESTILOS DE LOS TEXTOS
-------------------------------*/
.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-white {
  color: whitesmoke;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-h5 {
  font-size: x-large;
}

.text-small {
  font-size: small;
}

.text-card-responsive {
  font-size: 1.2rem;
}
/*----------------------------- 
ESTILOS DEL SELECTOR DE FECHA
-------------------------------*/
.datepicker td,
.datepicker th {
  width: 1.5em;
  height: 1.5em;
}

/* ----------------- ESTILOS DE BOTONES DE DESCARGAR EXCEL -------------------- */
.button-default.xlsx:before,
.button-default.xls:before,
.button-default.csv:before,
.button-default.txt:before {
  content: none;
}

.xlsx,
.xls,
.csv,
.txt {
  margin: 4px 0;
}

.xlsx:before,
.xls:before,
.csv:before,
.txt:before {
  margin-right: 10px;
  padding: 11px 15px 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.xlsx:before {
  content: "";
  background: darkgreen url(../img/xlsx.svg) no-repeat center;
}

/*----------------------------- 
MEDIA QUERIES
-------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 360px) {
  .text-card-responsive {
    font-size: 0.4rem;
  }
}

@media (max-width: 575.98px) {
  .text-card-responsive {
    font-size: 0.8rem;
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .text-card-responsive {
    font-size: 1.2rem;
  }
  .custom-control-label::before,
  .custom-control-label::after {
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
  }
}

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { ... } */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { ... } */
