<div class="top-line">
  <h1 class="text-h5">Sistema de Registro</h1>
</div>
<div>
  {{> errors}}
</div>
<div class="content">
  <form method="POST" action="/login-rt" class="form-rt">
    <label for="cedula">Usuario:</label>
    <input type="text" placeholder="Usuario" name="cedula" class="input-rt input-xl-rt" autofocus />
  </form>
  <div class="footer">
    <p>Desarrollado por: UGB Mantenimiento, Área de Proyectos.</p>
  </div>
</div>